.cards-contact {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
}
.card-contact {
    width: 267px;
    height: 340px;
    position: relative;
}
.card__side-contact {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 2px 2px rgb(0 0 0 / 25%);
    border-radius: 3px;
    width: 200px;
    max-width: 100%;
    height: 170px;
    max-height: 100%;
    font-size: 14px;
    transition: all .6s ease;
    -webkit-backface-visibility: hidden;
    visibility: visible;
}
.card__side--front-contact {
    background: #fff;
    z-index: 2;
}
.card__description-contact {
    height: 100%;
    position: relative;
}
.contact-ha-haravan-container-header {
    padding: 25px 0 0;
    text-align: center;
}
.contact-ha-haravan-avatar {
    margin-bottom: 15px;
    position: relative;
}
.hrv-avatar {
    font-size: 14px;
    color: #212121;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #f4f6f8;
    color: #fff;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    font-weight: 700;
    background: rgb(252, 98, 93);
    width: 110px;
    max-width: 100%;
    height: 110px;
    max-height: 100%;
    line-height: 110px;
    font-size: 34px;
    margin: 0px auto;
}
.contact-ha-haravan-username {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #474747;
    text-transform: capitalize;
}
.contact-ha-haravan-code, .contact-ha-haravan-email, .contact-ha-haravan-username {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    padding: 0 10px;
}
.contact-ha-haravan-code, .contact-ha-haravan-email, .contact-ha-haravan-username {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    padding: 0 10px;
}
.contact-ha-haravan-code, .contact-ha-haravan-email {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #9ca7b2;
}
.contact-ha-haravan-code {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    word-break: break-word;
}
.contact-ha-haravan-email {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.contact-ha-haravan-body .no-gutters .col-md-6:nth-last-child(-n+3) {
    border-bottom: 0;
}
.contact-ha-haravan-body .no-gutters .col-md-12 .col-md-6.col-md-6-no-gutter-border-left:not(:nth-child(3n)) {
    border-right: 1px solid #9ca7b2;
}
.contact-ha-haravan-short-item, .contact-ha-haravan-short-item-birthday, .contact-ha-haravan-short-item-department, .contact-ha-haravan-short-item-jobtitle, .contact-ha-haravan-short-item-timework {
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    color: #9ca7b2;
}
.contact-ha-haravan-short-item-birthday, .contact-ha-haravan-short-item-department, .contact-ha-haravan-short-item-jobtitle, .contact-ha-haravan-short-item-timework {
    text-align: center;
    display: flex;
}

.contact-ha-haravan-short-item-birthday-name, .contact-ha-haravan-short-item-department-name, .contact-ha-haravan-short-item-jobtitle-name, .contact-ha-haravan-short-item-timework-name {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #474747;
    padding: 0 10px;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: pre-line;
    word-wrap: break-word;
}
.contact-ha-haravan-footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.card-action-item{
    position: absolute;
    right: 0px;
    top: 5px;
}
.cards-contact:hover .card-action-item{
display: block;
}
.applicants-actions-center{
    border-bottom: 1px solid #e9e9e9;
}
.messages-contact-filter--content {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: normal;
    color: #21469b;
   
}
.ui-action-list .ui-action-list__item {
    width: 100%;
}
.ui-action-list .ui-action-list-action {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 6px 16px;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    color: #212121;
    cursor: pointer;
    text-align: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-transform: none;
    letter-spacing: normal;
}
.ui-action-list .ui-action-list-action:hover {
    background-color: #2962ff;
    outline: 0;
    text-decoration: none;
    color: #fff;
}