@model my8ProgramingBlogClient.Infrastructures.CurrentProcess
@{
    ViewData["Title"] = "Home Page";
}

<div id="react-app">Loading...</div>

@section scripts {
    <script type="text/javascript">
        
    </script>
    <script src="~/dist/main.js" asp-append-version="true">

    </script>
}
